<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.samuelnotes.viewtest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MoveLoggerActivity"/>
        <activity android:name=".TouchListenerActivity"/>
        <activity android:name=".TouchDelegateActivity"/>
        <activity android:name=".TouchForwardActivity"/>
        <activity android:name=".TwoDimensionScrollActivity"/>
        <activity android:name=".TwoDimensionGestureScrollActivity"/>
        <activity android:name=".MultitouchActivity"/>
        <activity android:name=".TouchInterceptActivity"/>


    </application>

</manifest>